body {
    background-color: rgb(199, 125, 117);
}

.element{
text-align: center;

}
.margin-item{
    margin-left: 10%;
    padding-top: 5%;
}

.text-item{
    text-align: justify;
}
.head-image{
   text-align: center;
    width: 10%;
    height: 10%;        
}

.text-center{
    margin-top: 5%;
    text-align: center;
}

.button_top{
    margin-top: 3.2%;
}

.noms {
    float:left;
}
     
.container, .titre {
    overflow:hidden;
    font-family: Comic Sans MS;
}
 
.titre {
    float: right;
}
